button{
    background:  rgb(66, 66, 66);
    color: white;
    padding: 2%;
    margin: 2%;
    border: none;
    height: auto;
}
#articleImage {
    width: 90%;
    margin: 10px;
    height: auto;
    margin-top: 5%;
    display: inline-block;
}

#mainContentContainer {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 2%;
    display: inline-block;
}

#article-full-container {
    width: 76%;
    height: auto;
    left: 0;
    margin: 0;
    background: white;
}

#article {
    width: 100%;
    height: auto;
    margin: 2%;
    vertical-align: middle;
    display: inline-flex;
    padding: 5%;
}

#article-Full {
    width: 100%;
    height: 800px;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    background: white;
}

#lpArticle {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border: 1px solid black;
    vertical-align: middle;
    display: inline-block;
}

#articleText {
    width: 90%;
    display: block;
    height: auto;
    margin: auto;
    padding: 2%;
}

#articleText {
    width: 90%;
    display: block;
    height: auto;
    margin: auto;
    padding: 2%;
}

#articleText-Full {
    width: 70%;
    display: block;
    height: 100vh;
    margin: auto;
    background: white;
    padding: 2%;
}

#articleButtons {
    height: auto;
    padding: 10px;
    background: white;
}

#articleComments {
    height: auto;
}

#articleComment {
    height: 50px;
    background: gray;
    text-align: left;
    padding: 10px;
}

#addComment {
    height: 100px;
}

#newComment {
    height: 150px;
    margin: 10px;
}

div {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: block;
}