body{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkslategrey;
}

.LandingContainer{
    position: absolute;
    margin-left: auto;
    right: 15%;
    width: 70%;
    height: auto;
    display: block;
    background: black;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#lpArticle {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border: 1px solid black;
    vertical-align: middle;
    display: inline-block;
}